/* 声明字体图标  这里一定要注意路径的变化*/
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* 快捷导航模块 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut .fl {
    float: left;
}

.shortcut .fr {
    float: right;
}

.style_red {
    color: #c81623;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}



.arrow-icon::after {
    font-family: 'icomoon';
    content: '\e91e';
    margin-left: 6px;
}

.header {
    position: relative;
    height: 105px;
    /* background-color: pink; */
}

.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
    /* background-color: skyblue; */
}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url('../images/logo.png') no-repeat;
    /* 京东的做法 */
    /* font-size: 0; */

    /* 淘宝的做法 */
    text-indent: -9999px;
    overflow: hidden;
}

/* 搜索模块 */
.header .search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.header .search input {
    float: left;
    width: 454px;
    height: 32px;
    /* height: 100%; */
    padding-left: 10px;
}

.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    color: #ffffff;
    font-size: 16px;
}

.header .hotwords {
    position: absolute;
    left: 346px;
    top: 69px;

}

.header .hotwords a {
    margin: 0 10px;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 63px;
    width: 140px;
    height: 36px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    font-size: 12px;
    color: #666;
    line-height: 36px;
    text-align: center;
    margin: 0 14px 0 7px;
}

.shopcar::before {
    font-family: 'icomoon';
    content: '\e93a';
    color: #d84a4a;
}

.shopcar::after {
    font-family: 'icomoon';
    content: '\e920';
    color: #999;
}